{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <div class="d-flex justify-content-center w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4" style="text-align: center;">Create Payment Link</h1>
            <!-- <p class="mb-0">Dozens of reusable components built to provide buttons, alerts, popovers, and more.</p> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="card border-0 shadow components-section">
            <div class="card-body">
                <form method="post" action="" class="mt-4">
                                
                    {% csrf_token %}
                    <div class="col-lg-12 col-sm-6">
                        <!-- Form -->
                        <div class="my-4">
                            <label for="textarea">Transaction Description</label>
                            {{ form.description }}
                        </div>
                        <!-- End of Form -->
                    </div>
                    <div class="mb-4">
                        <label class="my-1 me-2" for="digital_currency_code">Digital Currency</label>
                        <select class="form-select" id="digital_currency_code" aria-label="Digital Currency" name="digital_currency_code">
                            <option selected disabled>Open this menu</option>
                            {% for digital_currency in digital_currencies %}
                                <option value="{{ digital_currency.code }}">{{ digital_currency.code }} | {{ digital_currency.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-12 col-sm-6">
                        <!-- Form -->
                        <div class="my-4">
                            <label for="textarea">Transaction Amount (Estimated Transaction Amount in Local Country Currency)</label>
                            {{ form.digital_currency_amount }}
                        </div>
                        <!-- End of Form -->
                    </div>

                    <div class="mb-4">
                        <label class="my-1 me-2" for="cryptocurrency_code">Cryptocurrency</label>
                        <select class="form-select" id="cryptocurrency_code" aria-label="Cryptocurrency" name="cryptocurrency_code">
                            <option selected disabled>Open this menu</option>
                            {% for cryptocurrency in cryptocurrencies %}
                                <option value="{{ cryptocurrency.code }}">{{ cryptocurrency.code }} | {{ cryptocurrency.name }} in {{cryptocurrency.blockchain}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- <div class="mb-4">
                        <label class="my-1 me-2" for="cryptocurrency_blockchain_id">Blockchain</label>
                        <select class="form-select" id="cryptocurrency_blockchain_id" aria-label="Blockchain" name="cryptocurrency_blockchain_id">
                            <option selected disabled>Open this menu</option>
                            {% for blockchain in blockchains %}
                                <option value="{{ blockchain.blockchain_id }}">{{ blockchain.name }}</option>
                            {% endfor %}
                        </select>
                    </div> -->

                    <div class="col-lg-12 col-sm-6">
                        <!-- Form -->
                        <div class="my-4">
                            <label for="textarea">Withdrawal Address  (Add 3rd Party Crypto Wallet Address)</label>
                            {{ form.withdrawal_address }}
                        </div>
                        <!-- End of Form -->
                    </div>





                    <div class="d-grid">
                        <button type="submit" name="login" class="btn btn-gray-800">Create Payment Link</button>
                    </div>
                </form>
                <!-- <div class="row mb-5 mb-lg-5">
                    
                </div> -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}