{% extends "layouts/base-fullscreen.html" %}

{% block title %} Log In {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <p class="text-center">
                    CryptosharePay Dashboard
                </p>
                <div class="row justify-content-center form-bg-image" data-background-lg="{{ ASSETS_ROOT }}/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    CryptosharePay - Log In
                                </h1>
                                <br />
                                <p>
                                    {% if msg %}
                                        <span class="text-danger">
                                            {{ msg | safe }}
                                        </span>                                        
                                    {% else %}
                                        Please select your business
                                    {% endif %}                                     
                                </p> 
                            </div>

                            <form method="post" action="" class="mt-4" enctype="multipart/form-data">
                                
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="mb-4">
                                        <label for="document_front" class="form-label">Please upload your country ID [FRONT]</label>
                                        <input name="document_front" class="form-control" type="file" id="document_front">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="mb-4">
                                        <label for="document_back" class="form-label">Please upload your country ID [BACK]</label>
                                        <input name="document_back" class="form-control" type="file" id="document_back">
                                    </div>
                                </div>

                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-gray-800">Upload document</button>
                                </div>
                            </form>

                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
