{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="col-12 col-xl-12 mb-4">
    <div class="card border-0 shadow">
        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
            <h2 class="fs-5 fw-bold mb-0 justify-content-center align-items-center" style="text-align: center; margin ">PANEL</h2>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush list my--3">
                <li class="list-group-item px-0">
                    <div class="row align-items-center">
                        <a href="{% url 'home:balance' %}" class="btn btn-primary">CryptosharePay Wallet</a>
                    </div>
                </li>
                <li class="list-group-item px-0">
                    <div class="row align-items-center">
                        <a href="{% url 'home:create_payment_link' %}" class="btn btn-primary">Request Payment</a>
                    </div>
                </li>
                <li class="list-group-item px-0">
                    <div class="row align-items-center">
                        <a href="{% url 'home:send_payment' %}" class="btn btn-primary">Send Payment</a>
                    </div>
                </li>
                <li class="list-group-item px-0">
                    <div class="row align-items-center">
                        <a href="{% url 'home:withdrawals' %}" class="btn btn-primary">Withdraw</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}